<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Create Ticket</title>
</head>
<body>

<div class="container">
<h3>Create Ticket</h3>
<hr>

<form action="#" th:action="@{/tickets/saveticket}" th:object="${ticket}" method="POST">

<input type="hidden" th:field="*{Id}"/>

<input type="text" th:field="*{Ticket_Title}" class="form-control mb-4 col-4" palceholder="Ticket Title" />

<input type="text" th:field="*{Ticket_Discription}" class="form-control mb-4 col-4" palceholder="Ticket Short Discription" />

<input type="date" th:field="*{Created_Date}" class="form-control mb-4 col-4" palceholder="Created_Date" />

<button type="submit" class=""btn btn-info col-2>Save</button>

</form>

<hr>
<a th:href="@{/tickets/showtickets}">Back to Ticket List</a>

</div>

</body>
</html>